<div class="container">
<div class="row">
<div class="col-md-8 offset-md-1">
    <h4 class="my-3">会員一覧</h4>
    <table class="table">
      <thead>
         <tr>
          <th align="left">会員ID</th>
          <th align="left">氏名</th>
          <th align="left">メールアドレス</th>
          <th align="left">ステータス</th>
         </tr>
        </thead>
        <tbody>
          <tr><% @customers.each do |customer| %></tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_show_path(customer) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted %>
              <p class="text-muted"><strong>退会</strong></p>
              <% elsif %>
              <p class="text-success"><strong>有効</strong></p>
              <% end %>
            </td>
            <% end %>
        </tbody>
    </table>
    <%= paginate @customers %>
 </div>
</div>
</div>

